<!DOCTYPE html>
<html>
<head>
    <title>StockMarket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_new.css') }}">
</head>
<body>
    <div class="navbar">
        <h1> StockMarket </h1>
        <button class="navbtn" style="background-color: black; color: white;" id="dark-mode-toggle"> Enable Dark Mode </button>
        <a href="/dashboard" class="navbtn btn-about">  Back to Dashboard </a>
        <a href="/" class="navbtn btn-logout">Logout</a>
    </div>
    <script>
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        const body = document.body;
        const navbar = document.querySelector('.navbar');

        darkModeToggle.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            navbar.classList.toggle('dark-mode-navbar');
            if (body.classList.contains('dark-mode')) {
                darkModeToggle.innerText = 'Enable Light Mode';
                darkModeToggle.style.backgroundColor = 'white';
                darkModeToggle.style.color = 'black';
            } else {
                darkModeToggle.innerText = 'Enable Dark Mode';
                darkModeToggle.style.backgroundColor = 'black';
                darkModeToggle.style.color = 'white';
            }
        });
    </script>
    <div class="stocks-area">
        <div style="font-size: 2em; font-weight: 500;">{{stock_name}}</div>
        <hr style="opacity: 0.25;"/>
        <img src="data:image/png;base64,{{ picture }}" width="60px" alt="PNG Image">
    </div>
</body>
</html>